@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Alegreya Sans", sans-serif !important;
}

html,
body {
    overflow-x: hidden;
}

.letter-space {
    letter-spacing: 1px;
    line-height: 30px;
}

.header {
    margin-top: 25px;
    position: relative;
}

.Tagline {
    font-weight: 900;
}

.text-align-start {
    text-align: start;
}

.image {
    position: absolute;
    top: 50%;
    left: -30%;
    box-sizing: border-box;
    animation: float 1s ease-in-out infinite alternate;
    z-index: -1;
    opacity: 0.5;
}

@keyframes float {
    0% {
        transform: translate(5%, 6%);
    }

    100% {
        transform: translate(-4%, 7%);
    }
}

.heading_spice {
    background-color: #9b3c1b;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Tagline_brown {
    color: #9b3c1b;
    font-weight: bold;
}

.Tagline_brown1 {
    color: yellowgreen;
    font-weight: bold;
}

#roating {
    margin-top: 90px;
}

.Roating {
    background-image: url(../images/back.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    margin-top: 50px;
    padding: 0px 50px;
}

.text-align-end {
    text-align: end;
}

.rotate_img {
    width: 65%;
    animation: rotate 5s linear infinite;
    box-sizing: border-box;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.why {
    letter-spacing: 6px;
    line-height: 1.2;
    font-size: 45px;
}

.why-left {
    position: relative;
}

.why-left-image {
    position: absolute;
    top: 25px;
    left: 10px;
    animation: float 1s ease-in-out infinite alternate;
}

@keyframes float {
    0% {
        transform: translate(5%, 6%);
    }

    100% {
        transform: translate(-4%, 7%);
    }
}

.products_slid {
    /* background-color: #9B3C1B; */
    background-image: url(../images/products_bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-align-center {
    text-align: center;
}

.products_slid h2 {
    color: white;
}

.carousel-control-next-icon {
    background-image: url(../images/arrow.png) !important;
}

.carousel-control-prev-icon {
    background-image: url(../images/arrow1.png) !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: White !important;
}

.swiper-button-next,
.swiper-button-prev {
    top: 50% !important;
}

.testi {
    background-image: url(../images/testiback.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
}

.testi h2 {
    font-weight: 900;
}

.testi p {
    font-weight: bold;
}

.testi h3 {
    font-weight: 500;
}

.footer {
    background-image: url(../images/footer-banner2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    /* opacity: 0.5; */
}

.footer a {
    color: white;
    text-decoration: none;
}

.wave {
    margin-bottom: -24px;
    width: 100%;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}

@media (max-width: 991px) {
    #header {
        width: 300px;
        background: #fff;
        border-right: 1px solid #e6e9ec;
        left: -300px;
    }
}

@media (min-width: 991px) {
    #main {
        margin-left: 100px;
    }
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.nav-menu {
    padding: 0;
    display: block;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #45505b;
}

@media (min-width: 992px) {
    .nav-menu a,
    .nav-menu a:focus {
        width: 56px;
    }

    .nav-menu a span,
    .nav-menu a:focus span {
        display: none;
        color: #fff;
    }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
    color: #fff;
    background: #9b3c1b;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
    color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
    width: 100%;
    color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
    display: block;
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 28px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
}

.mobile-nav-toggle i {
    color: #45505b;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    background-color: #9b3c1b;
}

.navbar li {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

footer h4 {
    text-decoration: underline;
    text-underline-offset: 10px;
}

/*Timeline Css */
.cliping_text {
    position: relative;
    background-image: url("../images/pules1.png");
    background-size: cover;
    background-position: bottom;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 70px;
    font-weight: 900;
}

.mission-vision {
    background-image: url(../images/mission-vision.png);
    background-size: cover;
    width: 100%;
}

.box {
    background-color: #9b3c1b;
}

.box1 {
    background-color: #b19c25;
}

.mission-vision hr {
    color: white;
    font-weight: bold;
}

.connect {
    background-image: url(../images/connect_bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.connect h3 {
    font-weight: 800;
    letter-spacing: 1px;
}

.connect p {
    font-weight: bold;
}

.under h1 {
    text-decoration: underline;
    text-underline-offset: 5px;
    border-bottom: #9b3c1b 2px solid;
    width: fit-content;
    margin: auto;
}

.btn-newletter {
    background-color: skyblue;
    padding: 5px;
    color: black;
    border: none;
    border-radius: 5px;
}

.input#exampleInputEmail1 {
    border-radius: 0px;
}

.brown {
    color: #9b3c1b;
}

@media only screen and (max-width: 400px) {
    .image {
        display: none;
    }

    .why {
        display: none;
    }
}

form input {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.round {
    border-radius: 20px;
    padding: 10px 20px;
}

.cont-det {
    filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
}

.swiper-slide img {
    filter: drop-shadow(2px 3px 2px rgb(4, 0, 0));
}

.text {
    width: 70%;
    overflow: hidden;
    animation: tex 5s steps(22);
    white-space: nowrap;
}

@keyframes tex {
    from {
        width: 0;
    }
}

input#exampleInputEmail1 {
    text-align: center;
}

.asp {
    aspect-ratio: 5/2;
    width: 100%;
    object-fit: cover;
}

.font {
    /* color: black; */
    font-weight: 400;
}

.font1 {
    /* color: black; */
    font-weight: 600;
}

.prod img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.three {
    border-radius: 5px;
    -webkit-animation: simple-scale 1s 1s linear infinite alternate;
    animation: simple-scale 1s 1s linear infinite alternate;
    transition: all 0.5s ease-in-out;
}

.three:hover {
    transform: scale(1.1);
}

.back-to-top {
    position: fixed;
    visibility: visible;
    /* opacity: 1; */
    left: 25px;
    bottom: 15px;
    z-index: 996;
    background: green;
    /* width: 48px; */
    padding: 9px 0;
    /* height: 38px; */
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #e03a3cd1;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

.back-to-top_1 {
    position: fixed;
    visibility: visible;
    /* opacity: 1; */
    right: 25px;
    bottom: 15px;
    z-index: 996;
    background: #066ac9;
    /* width: 48px;
    height: 42px; */
    padding: 11px 2px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top_1 i {
    font-size: 20px;
    color: #fff;
    line-height: 0;
}

.back-to-top_1:hover {
    background: #e03a3cd1;
    color: #fff;
}

.back-to-top_1.active {
    visibility: visible;
    opacity: 1;
}

.back-to-top_2 {
    position: fixed;
    visibility: visible;
    /* opacity: 1; */
    right: 25px;
    bottom: 65px;
    z-index: 996;
    background: #25d366;
    padding: 9px 0;

    /* width: 42px;  
    height: 42px; */
    border-radius: 4px;
    transition: all 0.4s ease-in;
}

.back-to-top_2 i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top_2:hover {
    /* background: #e03a3cd1; */
    color: #fff;
}

.back-to-top_2.active {
    visibility: visible;
    opacity: 1;
}

.translate {
    position: sticky;
    top: 0;
    right: 0;
}

.bg-b {
    background-color: #00000060;
    border-radius: 10px;
}

@media only screen and (max-width: 400px) {
    .asp {
        aspect-ratio: 3/2;
    }
}
